* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

nav {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 16px;
  border-bottom: 1px solid #000000;
}

nav .logo {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

nav .logo img {
  height: 43px;
}

nav .logo p {
  padding-left: 5px;
  margin: 0 auto;
}

nav .searchBar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

nav #search {
  background-image: url(../images/search.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 5px 1px;
  background-color: #587c83;
  opacity: 50%;
  text-indent: 12%;
  width: 324px;
  height: 30px;
}

nav ::placeholder {
  color: #000000;
}

nav .links {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav span img {
  width: 25px;
  height: 25px;
}

nav #accountImg {
  margin-left: -7px;
}

nav #cartImg {
  margin-left: -12px;
}

nav a {
  color: #000;
  text-decoration: none;
}

footer {
  height: 92px;
  background-color: #587c83;
  padding-left: 5%;
  padding-right: 5%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 100%;
  margin-top: 3%;
}

footer .footer-left {
  color: #ffffff;
}

footer .footer-middle {
  display: flex;
  align-items: center;
  text-align: center;
}

footer a {
  padding: 0 20px;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
}

footer .footer-right img {
  margin: 0 10px;
  width: 40px;
  height: 40px;
}

.books {
  margin: 60px 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.book {
  display: inline-flex;
  height: 290px;
}

.bookInfo {
  padding: 0 20px;
  width: 200px;
  height: 290px;
}
.bookInfo .bookInfo:last-child {
  margin-right: -20px;
  padding: 0px 0px;
}

.book p {
  margin-bottom: 8px;
}

.bookImage {
  width: 150px;
  height: 150px;
}

.bookImage img {
  width: 100%;
  height: 100%;
}

.account {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  margin: 60px auto;
}

.account .loginForm {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.account .form {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.account h2,
.account input {
  margin-bottom: 30px;
  border: none;
}

.account h2,
.account p {
  font-weight: normal;
  margin-right: auto;
}

.account input {
  border-bottom: 1px solid #000000;
}

.account ::placeholder {
  color: #000000;
}

.account #loginSubmit,
.account #submit {
  background-color: #587c83;
  padding: 10px 15px;
  color: #fff;
  cursor: pointer;
  width: 140px;
  height: 35px;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 85%;
  height: 250px;
  background-image: linear-gradient(rgba(88, 124, 131, 0.5), rgba(88, 124, 131, 0.5)), url(../images/home-hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 40px auto 0 auto;
  position: relative;
}

.banner .banner-text {
  text-align: left;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
  color: #ffffff;
}

.banner h2 {
  color: #ffffff;
  font-size: 22px;
}

.banner p {
  font-size: 10px;
  font-weight: lighter;
}

.homeBooks {
  min-height: 200px;
  margin: 0 40px;
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: space-between;
}

.homeBooks .bookCover {
  margin-top: 10%;
}

.homeBooks .hero-image {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.homeBooks img {
  width: 160px;
}

.homeBooks .hero-text {
  text-align: center;
  position: relative;
  color: #000000;
  width: 230px;
  margin-top: 5%;
}

.homeBooks p {
  color: #000000;
  font-size: 10px;
  font-weight: lighter;
}

.homeBooks button {
  width: 121px;
  height: 40px;
  color: #000000;
  font-weight: lighter;
  background-color: #ffffff;
  border-width: 1px;
}

.homeBooks h2 {
  font-size: 20px;
}

.about {
  padding-top: 50px;
  font-family: Gill;
  display: flex;
  align-items: center;
  margin: 0 40px;
}
.about .about-bottom-section h2 {
  font-family: Proxima;
  font-size: 30px;
}
.about .about-bottom-section span {
  font-size: 26px;
  padding-bottom: 20px;
}
.about .about-bottom-section .client {
  min-height: 150px;
  display: flex;
  margin-bottom: 38px;
}
.about .about-bottom-section .client .client-image {
  width: 393px;
  height: 587px;
}
.about .about-bottom-section .client .client1 {
  background-image: url(../../images/about-photo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.about .about-bottom-section .client .client2 {
  background-color: aqua;
  background-image: url(../../images/about-photo-two.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.about .about-bottom-section .client .client-quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-left: 25px;
}

.blog .background {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
  height: 400px;
  background-color: #587C83;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 40px auto 0 auto;
  position: relative;
}

/*# sourceMappingURL=styles.css.map */
