footer {
  height: 92px;
  background-color: $site-gray;
  padding-left: 5%;
  padding-right: 5%;
  margin: $center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 100%;
  margin-top: 3%;
}

// footer .footer-content {
//   color: $site-white;
//   //   max-width: 100%;
//   height: 100%;
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   flex-direction: row;

//   font-size: 16px;
// }

footer .footer-left {
  //   margin-left: 35px;
  color: $site-white;
}

footer .footer-middle {
  //   margin: $center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin-left: -140px;
}

footer a {
  color: $site-white;
  text-decoration: none;
}

footer .footer-right {
}

footer .footer-right img {
  width: 20px;
  height: 20px;
}
