nav {
  // margin: $center;
  width: $content-width;
  height: 80px;
  // background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 16px;
  border-bottom: 1px solid $site-black;
}

nav .logo {
  height: 100%;
  // margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  // text-align: left;
}

nav .logo img {
  height: 43px;
}

nav .logo p {
  padding-left: 5px;
  margin: $center;
}

nav .searchBar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

nav #search {
  background-image: url(../images/search.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 5px 1px;
  background-color: $site-gray;
  opacity: 50%;
  text-indent: 12%;
  width: 324px;
  height: 30px;
}

nav ::placeholder {
  color: #000000;
}

nav .links {
  // margin-right: 20px;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  // text-align: right;
}

nav span img {
  width: 25px;
  height: 25px;
}

nav #accountImg {
  margin-left: -20px;
  
}

nav #cartImg {
  margin-left: -30px;
}

nav a {
  color: #000;
  text-decoration: none;
}

nav #cartCount{
  width: 20px;
  height: 20px;
  display: inline;
  float: right;
  color: brown;
}

@media only screen and (max-width: 900px){
  .nav {
    max-width: 490px;
  }
  nav a{
    font-size: 10px;

  }
  nav #search{
    width: 50%;
  }
  // .homeBooks {
  //   // margin: 0 40px;
  //   display: flex;
  // align-items: center;
  // justify-content: space-evenly;
  // flex-direction: column;
  //   max-width: 490px;
  // }
  // .bookCover {
  //   max-width: 300px;
  // }
}