nav {
  height: 50px;
  // background-color: #000;
  display: flex;
  // align-items: center;
  justify-content: space-evenly;
}

nav .logo {
  height: 100%;
  // margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: left;
}

nav .logo img {
  height: 80%;
}

nav .logo p {
  margin-left: 5px;
  height: 0%;
}

nav .links {
  // margin-right: 20px;
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: right;
}

nav a {
  color: #000;
  text-decoration: none;
  // text-transform: uppercase;
}

// nav span {
//   color: #000;
// }
