$center: 0 auto;

// site dimensions
$content-width: 100%;
$nav-footer-height: 100px;

// $footer-height: 455px;
// $site-width: 980px;
// $banner-footer-width: 1280px;
// $banner-height: 500px;
// $home-form-width: 818px;
// $nav-height: 100px;

// site colors
$site-white: #ffffff;
$site-gray: #587c83;
$site-black: #000000;
